<style type="text/css">
    #cookie .bg-custom{
    background-color:#130f40;
    }
    #cookie .button-fixed{
    bottom: 0;
    position: fixed;
    right: 0;
    border-radius: 4px;
    }
    #cookie .fas{
    cursor: pointer;
    font-size: 24px;
    }
    #cookie p{
    font-size: 14px;
    }
    #cookie .pb-4, .py-4 {
    padding-bottom: 1.5rem!important;
    }
    #cookie .p-3 {
    padding: 1rem!important;
    }
  </style>

<div id="cookie" class="row">
    <div class="col-md-4 col-sm-12 button-fixed">
      <div class="p-3 pb-4 bg-custom text-white">
        <div class="row">
          <div class="col-10">
            <h2>Allow Cookies</h2>
          </div>
          <div class="col-2 text-center">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button type="button" class="btn btn-danger w-100">Accept Cookies</button>
      </div>
    </div>
  </div>